body.meta {
    .permalink {
        visibility: hidden;
    }
}

.realpost  {
    figure {
        margin: 0;

        img {
            width: 500px;
        }
    }

    h1 {
        margin-bottom: 0.4rem;
    }
}

.menu {
    margin: 1rem auto 1em auto;
    width: 540px;
    display: block;
}

#last,.menu .navigation-link {
    padding-right: 1rem;
}

.tagcloud {
    padding: .6rem;
    line-height: initial;

    .cloud-tag {
        padding: .4rem;

    }
}

.tumblr-url {
	float: right;
	text-align: right;
	visibility: hidden;
}

@media only screen and (max-width: 768px) {

    #page {
        box-sizing: border-box;

        .permalink {
            font-size: unset;
            float: unset;
            display: block;
            margin-bottom: 1rem;
        }

        #main {
            width: 80%;
            margin: auto;

            .realpost {
                max-width: 100%;
                width: 100%;

                div {
                    width: unset;
                }
            }

            img {
                width: 100%;
                max-width: 100%;
            }


        }
        #page {
            width: unset;
        }

        #bottom {
            display: none;
        }

        #head {
            padding: 2rem;

            .menu {
                width: unset;
            }

            h1 {
                width: 100%;
            }
        }
    }

}

.about.meta {
    #main .post.meta {
        margin-left: 130px;
    }

}

.realpost {
    .tags-heading {
        font-size: larger;
        font-weight: bold;
    }

    .tags {
        padding-inline-start: 0;
        margin-inline-start: 40px;
    }

    .navigation-link {
        margin-right: 1em;
    }

}

#foot {
    border-top: 2px solid black;
    margin-top: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100% !important;

    img {
      display: inline;
      margin-bottom: unset;
      vertical-align: sub;
    }
}
