{{ $class := "photo" }}
{{- if .Params.metaPage -}}
  {{- $class = "meta" -}}
{{- end -}}
<div class="post {{ $class }}">
  <span class="permalink">
      {{- if not .Params.metaPage -}}
        <a href="{{ .RelPermalink }}"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">
          {{- .Date | time.Format ":date_full" -}}
        </time></a><br />
      {{- end -}}
      {{- if .Site.Params.linkTumblr -}}
          {{ if .Params.tumblr_url }}
            <span class="tumblr-url">
              <a href="{{ .Params.tumblr_url }}">Original auf Tumblr</a>
            </span>
          {{- end -}}
      {{- end -}}
  </span>
  <div class="realpost"><div>
    {{ .Content }}
  </div>
    {{- if isset .Params "tags" -}}
    <div class="tags-heading">Tags</div>
    <ul class="tags">
      {{- range $tag := .Params.tags -}}
        <li><a href="{{ "tags/" | relLangURL }}{{ $tag | urlize }}" title="{{ $tag }}">{{ $tag }}</a></li>
      {{- end -}}
    {{- end -}}
    <ul>
  </div>
</div>
